
<div class="text-center" style="padding-top:28vh;padding-bottom:5vh;">
  <button class="btn rounded-pill" style="background-color:#dedee3; color:#9c9cac;" data-bs-toggle="modal" data-bs-target="#aboutModal">About</button>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3>About</h3>
        <p>IMProved was created by:</p>
        <a href="https://github.com/Theobragstad" class="btn rounded-pill mb-3" style="background-color:#1e90ff;color:#ffffff;">Theo Bragstad</a>
        <a href="https://github.com/LeoKamgarCU" class="btn rounded-pill mb-3" style="background-color:#1e90ff;color:#ffffff;">Leo Kamgar</a>
        <a href="https://github.com/zach2898" class="btn rounded-pill mb-3" style="background-color:#1e90ff;color:#ffffff;">Zach Chen</a>
        <a href="https://github.com/jacobef" class="btn rounded-pill mb-3" style="background-color:#1e90ff;color:#ffffff;">Jacob Friedman</a>
        <a href="https://github.com/japa2103" class="btn rounded-pill mb-3" style="background-color:#1e90ff;color:#ffffff;">Jaxon Paulsen</a>
        <p> For CSCI 3308 at CU Boulder in Fall 2022.</p>
        <p> Our goal with IMProved was to build a website that enables people to spend less time on a website and more time playing the sports they love.</p>
        <p> We hope this is true and that you enjoy using it!</p>
      </div>
    </div>
  </div>
</div>
 
<%- include ('../partials/footer') %>