<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container text-center">
        <%- include ('../partials/message') %>
        <h3 style="padding-top:5vh;">Change Password<a class="btn rounded-pill" style="background-color:#e8fcec;color:#17d475;" href="/profile">Back</a></h3>
        <div style="padding-bottom:43vh;">
            <form action="/changePassword" method="POST">
                <div style="width:30vh;padding-top:5vh;" class="mx-auto">
                    <input placeholder="Current Password" type="password" class="form-control" name="currentPassword" required><br>
                    <input  placeholder="New password" type="password" class="form-control" name="newPassword" maxlength="100"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" title="Minimum 6 characters plus one of each: uppercase, lowercase, number, special character" required><br>
                    <input  placeholder="Confirm new password" type="password" class="form-control" name="confirmNewPassword" maxlength="100"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" required><br>
                </div>
                <button class="btn rounded-pill" style="background-color:#ffe5ec;color:#fb6f92;">Change password</button>
            </form>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>