<%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>
 
    <main>
        <div class="col">
            <%- include ('../partials/message') %>
          </div>
          <div class="container text-center" style="padding-bottom:10vh">
          <a href="/yourUpcomingGames" class="btn rounded-pill" style="background-color:#1e90ff; color:#ffffff">Return</a>
        </div>
        </main>

    <%- include ('../partials/footer') %>