<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Can I join a team as a graduate student of that school?</h5>
          <p class="card-text">Yes! all students of a school are welcome to join an intramural team through that school. </p>
        </div>
    </div>

    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">How do I add team members when the team is full?</h5>
          <p class="card-text">First, contact the team captain of the team you would like to join and ask if there are any inactive members of the team 
            that maybe haven't been removed from the website, won't be able to play, etc. If there is no additional space to be made for you, consider joining another team
            and meeting new people!</p>
        </div>
    </div>
</main>
    
<%- include ('../partials/footer') %>