<%- include ('../partials/header') %>

<main>
    <div class="container text-center">
        <img src="./img/logo.png" style="width:25%;padding-top:10vh;padding-bottom:5vh;">
        <h4 style="color:#1e90ff;">The better platform for intramural, recreational, and club sports</h4>
        <div style="padding-top:18vh;">
            <a href="/login" class="btn rounded-pill" style="background-color:#1e90ff;color:#ffffff;">Go</a>
        </div>
    </div>
    <%- include ('../partials/about') %>
</main>
    



